<div class="top-content">
  <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "検索", class: "search-form__input" %>
    <label class="search-submit__label">
      <i class="fas fa-search"></i>
      <%= f.submit "検索", class: "search-btn"%>
    </label>
  <% end %>
  <div class="slide-image">
    <div class="slide-image-lists">
      <div style="background-color: #ff6699;" class="slide-image-lists--list">
        <div class="slide-container">
          <div class="slide-message">
            <h2>掲示板を選ぶ</h2>
            <p>検索やカテゴリから好きな話題を選びましょう</p>
          </div>
          <div class="slide-icon">
            <%= image_tag 'icon1.png' %>
          </div>
        </div>
      </div>
      <div style="background-color: #FDCE00;" class="slide-image-lists--list">
        <div class="slide-container">
          <div class="slide-message">
            <h2>書き込む</h2>
            <p>会話を楽しみましょう</p>
          </div>
          <div class="slide-icon">
            <%= image_tag 'icon2.png' %>
          </div>
        </div>
      </div>
      <div style="background-color: #58CE91;" class="slide-image-lists--list">
        <div class="slide-container">
          <div class="slide-message">
            <h2>掲示板を作る</h2>
            <p>好きな話題についてみんなで話しましょう</p>
          </div>
          <div class="slide-icon">
            <%=image_tag 'icon3.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="middle-content">
  <div class="pickup-menu">
    <div class="pickup-menu__title">
      <h2>PICKUP MENU</h2>
    </div>
    <div class="pickup-menu--lists">

      <div class="pickup-menu--lists__list">
        <div class="list-header">
          <div class="list-header__image">
            <%= image_tag 'top1.jpg' %>
          </div>
          <div class="list-header__title">
            <h2>まずはここから</h2>
            <p>気になる掲示板をのぞいてみよう</p>
          </div>
        </div>
        <div class="list-content">
          <%if @beginner %>
            <% @beginner.each do |b| %>
              <%= link_to room_path(b.id), class: "list-content__thread" do%>
                <div class="thread-container">
                  <div class="thread-container--icon">
                    <%= image_tag "#{b.image}" %>
                  </div>
                  <div class="thread-container--message">
                    <div class="thread-container--message__title">
                      <%= b.title %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="pickup-menu--lists__list">
        <div class="list-header">
          <div class="list-header__image">
            <%= image_tag 'top2.jpg' %>
          </div>
          <div class="list-header__title">
            <h2>気になるニュース</h2>
            <p>最近の出来事について話してみよう</p>
          </div>
        </div>
        <div class="list-content">
          <%if @news %>
            <% @news.each do |n| %>
              <%= link_to room_path(n.id), class: "list-content__thread" do%>
                <div class="thread-container">
                  <div class="thread-container--icon">
                    <%= image_tag "#{n.image}" %>
                  </div>
                  <div class="thread-container--message">
                    <div class="thread-container--message__title">
                      <%= n.title %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>

      <div class="pickup-menu--lists__list">
        <div class="list-header">
          <div class="list-header__image">
            <%= image_tag 'top3.jpg' %>
          </div>
          <div class="list-header__title">
            <h2>趣味・関心</h2>
            <p>好きなことについて語ってみよう</p>
          </div>
        </div>
        <div class="list-content">
          <%if @hobby %>
            <% @hobby.each do |h| %>
              <%= link_to room_path(h.id), class: "list-content__thread" do%>
                <div class="thread-container">
                  <div class="thread-container--icon">
                    <%= image_tag "#{h.image}" %>
                  </div>
                  <div class="thread-container--message">
                    <div class="thread-container--message__title">
                      <%= h.title %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="pickup-menu--lists__list">
        <div class="list-header">
          <div class="list-header__image">
            <%= image_tag 'top4.jpg' %>
          </div>
          <div class="list-header__title">
            <h2>悩み相談</h2>
            <p>悩みを相談してみよう</p>
          </div>
        </div>
        <div class="list-content">
          <%if @consultation %>
            <% @consultation.each do |c| %>
              <%= link_to room_path(c.id), class: "list-content__thread" do%>
                <div class="thread-container">
                  <div class="thread-container--icon">
                    <%= image_tag "#{c.image}" %>
                  </div>
                  <div class="thread-container--message">
                    <div class="thread-container--message__title">
                      <%= c.title %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="pickup-menu--lists__list">
        <div class="list-header">
          <div class="list-header__image">
            <%= image_tag 'top5.jpg' %>
          </div>
          <div class="list-header__title">
            <h2>癒し</h2>
            <p>心を落ち着けよう</p>
          </div>
        </div>
        <div class="list-content">
          <%if @healing %>
            <% @healing.each do |h| %>
              <%= link_to room_path(h.id), class: "list-content__thread" do%>
                <div class="thread-container">
                  <div class="thread-container--icon">
                    <%= image_tag "#{h.image}" %>
                  </div>
                  <div class="thread-container--message">
                    <div class="thread-container--message__title">
                      <%= h.title.truncate(12) %>
                    </div>
                    <div class="thread-container--message__count">
                      メッセージ数<%= h.messages.count %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="category-menu">
    <div class="category-menu__title">
      <h2>CATEGORY MENU</h2>
    </div>
    <div class="category-menu--lists">
      <%= link_to category_path(1), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-pen-nib" style="color:  #cc3399;"></i>
        </div>
        <div class="category-menu--lists__list__title">アニメ・漫画</div>
      <% end %>

      <%= link_to category_path(2), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-briefcase" style="color: #D1483E;"></i>
        </div>
        <div class="category-menu--lists__list__title">働き方・仕事</div>
      <% end %>

      <%= link_to category_path(3), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="far fa-futbol"></i>
        </div>
        <div class="category-menu--lists__list__title">スポーツ</div>
      <% end %>

      <%= link_to category_path(4), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-gamepad" style="color: #AAAAAA;"></i>
        </div>
        <div class="category-menu--lists__list__title">ゲーム</div>
      <% end %>

      <%= link_to category_path(5), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-book" style="color: #00B66E;"></i>
        </div>
        <div class="category-menu--lists__list__title">読書</div>
      <% end %>

      <%= link_to category_path(6), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-film"></i>
        </div>
        <div class="category-menu--lists__list__title">映画・舞台</div>
      <% end %>

      <%= link_to category_path(7), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="category-menu--lists__list__title">写真</div>
      <% end %>


      <%= link_to category_path(8), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-paint-brush" style="color: #99ccff;"></i>
        </div>
        <div class="category-menu--lists__list__title">イラスト</div>
      <% end %>


      <%= link_to category_path(9), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-headphones-alt" style="color: #DC143C;"></i>
        </div>
        <div class="category-menu--lists__list__title">音楽</div>
      <% end %>


      <%= link_to category_path(10), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-user-tie" style="color: #000066;"></i>
        </div>
        <div class="category-menu--lists__list__title">芸能人・有名人</div>
      <% end %>

      <%= link_to category_path(11), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-utensils" style="color: #C0C0C0;"></i>
        </div>
        <div class="category-menu--lists__list__title">料理・グルメ</div>
      <% end %>

      <%= link_to category_path(12), class: "category-menu--lists__list" do %>
        <div class="category-menu--lists__list__icon">
          <i class="fas fa-dollar-sign" style="color: #D3B95E;"></i>
        </div>
        <div class="category-menu--lists__list__title">政治・経済</div>
      <% end %>

    </div>
  </div>
</div>

<footer>
  <div class="pagetop-btn">
    <div id="page_top"><a href="#"></a></div>
  </div>
</footer>