<div class="room-show__wrapper">
  <div class="room-show__header">
    <%= image_tag @room.image.url %>
    <div class="room-show__title">
      <h2><%= @room.title %></h2>
    </div>
  </div>
  <div class="room-show__main">
  </div>
  <div class="room-show__form">
    <%= form_with(model: [@room, @message], class: "message_form", local: true, id: "new_message", method: :post) do |f| %>
      <%= f.text_area :content, class: "message_input"%>
      <div class="message_send">
        <label for="message-submit">
          <i class="fas fa-paper-plane"></i>
          <%= f.submit class: "message_send__btn", id: "message-submit" %>
        </label>
      </div>
    <% end %>
  </div>
</div>